<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
           <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">{:isset($info['id'])?'编辑':'新增'}导航栏目</div>
                    </div>
                    <div class="widget-body am-fr">

                        <form action="__ACTION__" method="post" class="ajaxForm am-form tpl-form-border-form tpl-form-border-br">
                            <div class="am-form-group">
                                <label for="title" class="am-u-sm-2 am-form-label">
                                    导航名称 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-10">
                                    <input type="text" class="tpl-form-input" id="title" name="title" placeholder="请输入导航名称"  value="{$info['title']}">
                                    <small>请填写标题文字1-60字符。</small>
                                </div>
                            </div>


                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">图标图片</label>
                                <div class="am-u-sm-10">
                                    <div class="row">
                                        <div class="am-u-sm-3">
                                            <div class="am-form-group am-form-file">
                                                <div class="tpl-form-file-img">
                                                    <img src="{$info['img']}" alt="" style="min-height:122px; width: 122px;" id="img_">
                                                </div>
                                                <input type="hidden" value="{$info['img']}" name="img" id="img" />
                                                <button type="button" class="am-btn am-btn-success am-btn-sm" id="btnUpload">上传</button>
                                                <button type="button" class="am-btn am-btn-danger am-btn-sm" onclick="delFile($('#img').val(), '')" id="btn_delete_">删除</button>
                                                <if condition="$info['img'] eq ''">
                                                    <script>
                                                        $("#img_, #btn_delete_").hide();
                                                    </script>
                                                </if>
                                            </div>
                                        </div>
                                        <div class="am-u-sm-9"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    导航位置
                                </label>
                                <div class="am-u-sm-10">
                                    <div class="row">
                                        <div class="am-u-sm-3">
                                            <select name="position" id="position">
                                                <option value="">选择导航所在位置</option>
                                                <option value="1" <if condition="$info.position eq 1">selected</if>>HR端</option>
                                                <option value="0" <if condition="$info.position eq 0 && $info.position neq ''">selected</if>>C端</option>
                                            </select>
                                        </div>
                                        <div class="am-u-sm-9"></div></div>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    链接地址
                                </label>
                                <div class="am-u-sm-10">
                                    <div class="row">
                                        <div class="am-u-sm-3">
                                            <select name="link_type" id="link_type">
                                                <option value="">选择链接地址</option>
                                                <foreach name="link_type" item="v">
                                                    <option value="{$v['id']}" <if condition="$v['id'] eq $info['link_type']"> selected </if>>{$v['value']}</option>
                                                </foreach>
                                            </select>
                                        </div>
                                        <div class="am-u-sm-9"></div></div>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    排序 
                                </label>
                                <div class="am-u-sm-10">
                                    <div class="row">
                                        <div class="am-u-sm-3">
                                            <input type="text" placeholder="从小到大排序" id="sort" name="sort" value="{$info['sort']}">
                                            <small>请输入整数类型</small>
                                        </div>
                                        <div class="am-u-sm-9"></div></div>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-10 am-u-sm-push-2">
                                    <input type="hidden" name="id" value="{$info['id']}">
                                    <input type="hidden" value="{$type}" name="type">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    <button type="button" class="am-btn am-btn-primary am-btn-warning " onclick="goback();">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload/ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload/imgupload.js"></script>
    <script type="text/javascript">
        $(function(){
            ajaxUpload('#btnUpload', $("#img"), 'Nav', '');
        })
    </script>
</block>