<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
           <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">{$info['id'] ? '编辑' : '添加'}名单</div>
                    </div>
                    <div class="widget-body am-fr">

                        <form action="__ACTION__" method="post" class="ajaxForm am-form tpl-form-border-form tpl-form-border-br">
                            <div class="am-form-group">
                                <label for="dispose_value" class="am-u-sm-2 am-form-label">
                                    配置值 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-10">
                                    <input type="text" class="tpl-form-input" id="dispose_value" name="dispose_value" placeholder="请输入要配置的名称"  value="{$info['dispose_value']}">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="dispose_type" class="am-u-sm-2 am-form-label">
                                    配置类型 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-10">
                                    <select name="dispose_type" id="dispose_type">
                                        <option value="">请选择</option>
                                        <foreach name="type_list" item="v">
                                            <option value="{$v['id']}">{$v['value']}</option>
                                        </foreach>
                                    </select>
                                    <script type="text/javascript">
                                        $(function(){
                                            $('#dispose_type').val({$info['dispose_type']});
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="remark" class="am-u-sm-2 am-form-label">
                                    备注信息 <span class="tpl-form-line-small-title must-input"></span>
                                </label>
                                <div class="am-u-sm-10">
                                    <input type="text" class="tpl-form-input" id="remark" name="remark" placeholder="请输入备注信息"  value="{$info['remark']}">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-10 am-u-sm-push-2">
                                    <input type="hidden" name="id" value="{$info['id']}">
                                    <input type="hidden" name="type" value="{$type}">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    <button type="button" class="am-btn am-btn-primary am-btn-warning " onclick="goback();">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
<script type="text/javascript">
    function callback(data){
        toastr(data.info);
        if(data.status == 1){
            location.href='/index.php/Admin/BlackWhite/listBlackWhite/type/' + {$type};
        }
    }
</script>
</block>