<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">文章分类列表</div>

                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a type="button" class="am-btn am-btn-default am-btn-success" href="{:U('ArticleCategory/editArticleCategory')}"><span class="am-icon-plus"></span> 新增</a>
                                        <button type="button" class="am-btn am-btn-default am-btn-danger" onclick="javascript:recycle('chkbId', '确认删除?! 删除后无法恢复!', true)">
                                            <span class="am-icon-trash-o"></span> 批量删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="__SELF__" method="get">
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" name="keyword" placeholder="请输入查询关键字" value="{$keyword}">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                        <a class="am-btn  am-btn-default am-btn-danger tpl-table-list-field am-icon-refresh" type="button" href="__ACTION__"></a>
                                    </span>
                                </div>
                            </div>
                            <input name="p" value="1" type="hidden"/>
                        </form>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th><input class="check-all" type="checkbox"></th>
                                        <th>序号</th>
                                        <th>文章标题</th>
                                        <th>添加时间</th>
                                        <th>排序</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="catlist" item="v">
                                        <tr class="gradeX">
                                            <td><if condition="$v['article_cat_id'] neq 1 && $v['article_cat_id'] neq 2"><input class="ids" type="checkbox" name="chkbId" value="{$v['article_cat_id']}"></if></td>
                                            <td>{$v['article_cat_id']}</td>
                                            <td style="text-align:left; width: 40%;">
                                                {$v['cat_name']}
                                            </td>
                                            <td class="center">
                                                {:time_format($v['addtime'])}
                                            </td>
                                            <td class="center">{$v['sort']}</td>

                                            <td class="f-14">
                                                <div class="tpl-table-black-operation">
                                                    <a href="{:U('ArticleCategory/editArticleCategory',array('article_cat_id'=>$v['article_cat_id']))}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <if condition="$v['article_cat_id'] neq 1 && $v['article_cat_id'] neq 2">

                                                        <a href="javascript:void(0)" onclick="javascript:recycle({$v['article_cat_id']}, '确认删除?!此步骤无法恢复!', true)" class="tpl-table-black-operation-del">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </if>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>

                                <!-- more data -->
                                </tbody>
                            </table>

                            <empty name="catlist">
                                <h4>aOh! 没有相关内容!</h4>
                            </empty>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
    </script>
</block>