<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">问题列表</div>

                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="__SELF__" method="get">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">

                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" name="keyword" placeholder="请输入问题标题/问题类型" value="{$keyword}">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                        <a class="am-btn  am-btn-default am-btn-danger tpl-table-list-field am-icon-refresh" type="button" href="__ACTION__"></a>
                                    </span>
                                </div>
                            </div>
                            <input name="p" value="1" type="hidden"/>
                        </form>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th width="4%" class="align-center">序号</th>
                                        <th width="13%" class="align-center">发布人</th>
                                        <th width="20%" class="align-center">问题标题</th>
                                        <th width="15%" class="align-center">问题类型</th>
                                        <th width="15%" class="align-center">添加时间</th>
                                        <th width="8%" class="align-center">状态</th>
                                        <th class="align-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="v">
                                        <tr class="gradeX">
                                            <td class="align-center">{$v['id']}</td>
                                            <td class="align-center">{$v['nickname']}</td>
                                            <td class="align-center"><div style="text-align: left; width: 90%">{$v['question_title']}</div></td>
                                            <td class="align-center">{$v['question_type']}</td>
                                            <td class="align-center">{:time_format($v['add_time'])}</td>
                                            <td class="align-center">
                                                {:show_disabled($v['disabled'])}
                                            </td>
                                            <td class="f-14 align-center">
                                                <div class="tpl-table-black-operation">
                                                    <if condition="$v['disabled'] eq 0">
                                                        <a title="点击启用" href="javascript:void(0)" onclick="changeDisabled({$v['id']});">
                                                            启用
                                                        </a>
                                                    </if>
                                                    <if condition="$v['disabled'] eq 1">
                                                        <a title="点击禁用" href="javascript:void(0)" class="tpl-table-black-operation-del" onclick="changeDisabled('{$v.id}');">
                                                            禁用
                                                        </a>
                                                    </if>
                                                    <a href="{:U('Question/listAnswer',array('id'=>$v['id']))}">
                                                        <i class="am-icon-pencil"></i> 答案列表
                                                    </a>
                                                    <a href="{:U('Question/seeQuestionDetail',array('id'=>$v['id']))}">
                                                        <i class="am-icon-trash"></i> 问题详情
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                            <empty name="list">
                                <h4>aOh! 没有相关内容!</h4>
                            </empty>
                        </div>
                        <div class="am-u-lg-12 am-cf">

                            <div class="am-fr">
                                <div class="am-pagination tpl-pagination">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        function changeDisabled(question_id){
            $.ajax({
                url : "{:U('Question/changeQuestionDisabled')}",
                type : "POST",
                dataType : "json",
                data : {
                    "question_id" : question_id,
                },
                success : function(data){
                    toastr(data.info);
                    if(data.status == 1){
                        setInterval('reload()', 2000);
                    }
                }
            });
        }
        function reload() {
            location.reload();
        }
    </script>
</block>