<extend name="Common/base"/>
<block name="style">
    <style>
    </style>
</block>

<block name="body">
    <!-- 内容区域 -->
    <div class="row-content am-cf">
        <div class="row">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">用户注册统计</div>
                </div>
                <div class="widget-body  am-fr">
                    <form action="__SELF__" method="get">
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-7">&nbsp; </div>
                        <div class="am-u-sm-12 am-u-md-9 am-u-lg-2">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                &nbsp;
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                &nbsp;
                                <span class="am-input-group-btn">
                                </span>
                            </div>
                        </div>
                        <input name="p" value="1" type="hidden"/>
                    </form>
                    <div class="am-u-sm-12" style="margin-top: 50px">
                        <p>用户注册量统计</p>
                        <div class="view-content">
                            <div id="map" style="height: 500px; width:60%; padding:20px 0 0 40px; margin: 0 auto;"></div>
                        </div>
                    </div>

                    <div class="am-u-sm-12" style="margin-top: 50px">
                        <p>用户注册量城市统计</p>
                        <div class="view-content">
                            <div id="maps" style="height: 700px; width:95%; padding:20px 0 0 40px; margin-bottom: 12%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__PUBLIC__/echarts.common.min.js"></script>
    <script type="text/javascript">
        var result = {$result};
        var myChart = echarts.init(document.getElementById('map'));
        var maps = echarts.init(document.getElementById('maps'));
        option = {
            color: ['#3398DB'],
            tooltip : {
                trigger: 'axis',
                axisPointer : {
                    type : 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    data : {$statistic_x},
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'注册量',
                    type:'bar',
                    barWidth: '60%',
                    data:{$statistic_y}
                }
            ]
        };
        maps_option = {
            title : {
                text: '城市注册统计',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data:result.name
            },
            series : [
                {
                    name:'统计类型',
                    type:'pie',
                    radius : '75%',
                    center: ['50%', '60%'],
                    data:result.data
                }
            ]
        };
        myChart.setOption(option);
        maps.setOption(maps_option);
    </script>
</block>