<extend name="Common/base"/>
<block name="style">
    <link type="text/css"  href="__HR__/css/bootstrap.min.css"rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__HR__/css/home.css"/>
</block>
<block name="body">
<div class="container">
    <div class="h_container">
        <div class="top clearfix">
            <div class="h_userinfo fl">
                <img src="{$ranking['head_pic']}">
                <p>{$ranking.nickname}</p>
            </div>
            <div class="rightItem fr ">
                <div class="up">
                    <ul class="clearfix">
                        <li class="col-md-3 col-sm-6 fr">
                            <div class="num">
                                {$ranking['resume_ranking']}
                            </div>
                            <div class="name">
                                <img src="__HR__/images/18.png">
                                HR全球排名
                            </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                            <div class="num1">
                               {$ranking['resume_number']}
                            </div>
                            <div class="name">
                                <img src="__HR__/images/33.png">
                                简历数量
                            </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                            <div class="num2">
                                {$ranking.month_amount}<span>令牌</span>
                            </div>
                            <div class="name">
                                <img src="__HR__/images/21.png">
                                本月任务总收益
                            </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                            <div class="num2">
                                {$ranking['user_ranking']}<span></span>
                            </div>
                            <div class="name">
                                <img src="__HR__/images/18.png">
                                注册排名
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="down">
                    <input class="d_button release_recruit" type="button" value="+ 发布悬赏">
                    <input class="d_button" type="button" value="去赚钱">
                    <input class="d_button release_resume" type="button" value="上传简历赚奖金">
                    <input class="d_button" type="button" value="推荐人才赚佣金">
                    <input class="d_button" type="button" value="认证简历赚奖金">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="h_title">
                <span>序号</span>
                <span>悬赏职位</span>
                <span>招聘人数</span>
                <span>岗位性质</span>
                <span>语言要求</span>
                <span>工作地区</span>
                <span>悬赏令牌</span>
                <span>添加时间</span>
                <span>已匹配</span>
                <span>操作</span>
            </div>
            <div class="h_items">
                <ul>
                    <foreach name="info" item="v">
                        <li>
                            <span>{$v['id']}</span>
                            <span>{$v['position_name']}</span>
                            <span>{$v['recruit_num']}</span>
                            <span>{$v['nature']}</span>
                            <span>{$v['language_ability']}</span>
                            <span>{$v['job_area']}</span>
                            <span>{:fen_to_yuan($v['commission'])}</span>
                            <span>{$v['add_time']}</span>
                            <span>已匹配</span>
                            <span><span style="width: 60px;" onclick="javascript: toastr('请前往小程序推荐~');">去推荐</span></span>
                        </li>
                    </foreach>
                </ul>
            </div>

        </div>

    </div>
</div>
</block>
<block name="script">
<script type="text/javascript">
    $(function(){
        $('.release_recruit').click(function(){
            location.href="{:U('Recruit/editRecruit')}";
        });
        $('.release_resume').click(function(){
            location.href="{:U('Resume/editResume')}";
        });
    });
</script>
</block>