<extend name="Common/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__HR__/css/base.css"/>
    <link type="text/css"  href="__HR__/css/bootstrap.min.css"rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__HR__/css/home.css"/>
</block>
<block name="body">
<div class="container">
    <div class="h_container">
        <div class="top clearfix">
            <div class="h_userinfo fl">
                <img src="__HR__/images/tx.png">
                <p>刘女士</p>
            </div>
            <div class="rightItem fr ">
                <div class="up">
                    <ul class="clearfix">
                        <li class="col-md-3 col-sm-6 fr">
                            <div class="num">
                                566
                            </div>
                            <div class="name">
                                <img src="__HR__/images/18.png">
                                HR全球排名
                            </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                            <div class="num1">
                                566
                            </div>
                            <div class="name">
                                <img src="__HR__/images/33.png">
                                简历数量
                            </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                            <div class="num2">
                                566<span>令牌</span>
                            </div>
                            <div class="name">
                                <img src="__HR__/images/21.png">
                                本月任务总收益
                            </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                            <div class="num2">
                                566<span>令牌</span>
                            </div>
                            <div class="name">
                                <img src="__HR__/images/21.png">
                                年度收益
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="down">
                    <input class="d_button" type="button" value="+ 发布悬赏">
                    <input class="d_button" type="button" value="去赚钱">
                    <input class="d_button" type="button" value="上传简历赚奖金">
                    <input class="d_button" type="button" value="推荐人才赚佣金">
                    <input class="d_button" type="button" value="认证简历转奖金">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="h_title">
                <span>序号</span>
                <span>悬赏职位</span>
                <span>招聘人数</span>
                <span>岗位性质</span>
                <span>语言要求</span>
                <span>工作地区</span>
                <span>悬赏令牌</span>
                <span>剩余数量</span>
                <span>添加时间</span>
                <span>已匹配</span>
                <span>操作</span>
            </div>
            <div class="h_items">
                <ul>
                    <li>
                        <span>序号</span>
                        <span>悬赏职位</span>
                        <span>招聘人数</span>
                        <span>岗位性质</span>
                        <span>语言要求</span>
                        <span>工作地区</span>
                        <span>悬赏令牌</span>
                        <span>剩余数量</span>
                        <span>添加时间</span>
                        <span>已匹配</span>
                        <span>操作</span>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>
</block>
<block name="script">
    <script src="__HR__/js/bootstrap.min.js"></script>
</block>