<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../Statics/css/base.css"/>
    <!--<link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="../../Statics/css/creatResume.css"/>

</head>
<body>
<div class="container">
    <div class="cr_container">
        <div class="addresume">
            <input type="button" class="inputbutton" value="+ 添加简历">
        </div>
        <div class="content">
            <div>
<div>
    1
</div>
                <div>
                    <div></div>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="../../Statics/js/bootstrap.min.js"></script>
</body>
</html>